/* MENU */
.cssmenu{font-size:14px}
#nav {
 background: #e5e5e5;
 float: left;
 margin: 0; padding: 0;
 border-bottom: none;
}

#nav li a, #nav li {
 float: left;
}

#nav li {
 list-style: none;
 position: relative;
 z-index: 999;
}

#nav li a {
 padding: 10px 20px;
 text-decoration: none;
 color: white;
 background: /*#f96e5b;*//*#42C0FB;*/#0BB5FF;
 border-left: 1px solid #e5e5e5;
 border-bottom: 1px solid #e5e5e5;
}

#nav li a:hover {
 background: #3c3c3c;
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: #fff;
	right : 1px;
	bottom: 1px;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}

#nav .first{border-left:none}


#nav li ul
